body {
	padding: 4px;
	margin: 0;
}

#progress {
	width: 100%;
	background-color: grey;
}

#progressBar {
	height: 30px;
	background-color: green;
}

.table {
	width: 100%;
}

#sketch-container {
	width: 420px;
}

.full-screen {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.flex-container {
    display: flex;
    width: 100%;
		align-items: center;
		padding: 0;
}

.flex-item {
    padding: 10px;
}

.no-padding {
	padding: 0;
}

#instructions,
#progress-container {
	flex: 1;
}

#done1,
#done2 {
	visibility: hidden;
}

.hide {
	display: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #e0e0e0;
	}

	h2 {
		color: #b0bec5;
	}

	p {
		color: #b0bec5;
	}
	
	a {
		color: #08708C;
	}
}